

/* div {
    border: 1px solid black;
} */



.oneBox{
    /* width: 100%; */
    background-color: aquamarine;
    /* height: 50px; */
    border-radius: 30px;
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /* justify-content: space-between;     */
    justify-items: start;
    padding: 0.5%;
    align-items: center;
    margin: 0.5%;
    font-weight: 500;
    font-size: 20px;
    /* box-shadow: inset; */
}

button {
    width: 80px;
    
}

img {
    width: 100px;
    height: 100px;
}